:root {
  --guildbar-avatar-size: 48px;
  --custom-guild-list-padding: var(--space-sm);
  --custom-channel-header-height: 48px;
  --custom-app-top-bar-height: 22px;
  --custom-app-notice-bar-height: 38px;
  --custom-channel-textarea-text-area-height: 44px;
  --custom-member-list-width: 240px;
  --background-code: var(--background-secondary) !important;
  --chat-input-icon-size: 20px;
}

.visual-refresh {
  /* Light/Ash only theme changes */
  &.theme-light:not(html.custom-theme-background),
  &.theme-dark:not(html.custom-theme-background, html.theme-darker, html.theme-midnight) {
    ._5e434347c823b592-base,
    ._5e434347c823b592-guilds {
      background: var(--background-tertiary);
    }

    .cc5dd25190031396-lowerBadge,
    .cc5dd25190031396-upperBadge {
      border-color: var(--background-tertiary);
    }

    .searchBar__35e86 > button {
      background-color: var(--bg-overlay-3, var(--background-tertiary));
      color: var(--text-muted);
    }
  }

  /***************************************************************** LAYOUT ***********************************************************************/
  /* remove top bar on web/linux */
  &.platform-web,
  &.platform-linux {
    ._5e434347c823b592-base {
      --custom-app-top-bar-height: 0px;
    }
  }

  /* round channels list on windows */
  &.platform-win ._5e434347c823b592-sidebarList {
    border-radius: 8px 0 0 !important;
  }

  /* if a notice bar doesn't exists, remove the notice bar variable's value */
  ._5e434347c823b592-base:not(:has(._6e2b9359c6f84cfd-notice)) {
    --custom-app-notice-bar-height: 0px;
  }

  /* top bar */
  ._5e434347c823b592-base > .c38106a3f0c3ca76-bar {
    justify-content: flex-end;
    gap: 0;

    /* back/forward buttons */
    > .c38106a3f0c3ca76-leading {
      ._63abbca6d53b6035-backForwardButtons {
        --custom-bf-button-radius: var(--radius-none);
        --custom-bf-outer-padding: 5px;
        --custom-bf-inner-padding: 5px;
        justify-content: flex-end;
        gap: 0;
      }

      ._63abbca6d53b6035-backForwardButtons ._63abbca6d53b6035-button {
        height: 22px;
      }

      ._63abbca6d53b6035-backForwardButtons ._63abbca6d53b6035-button:not(._63abbca6d53b6035-disabled):hover {
        background-color: var(--background-modifier-hover);
        color: var(--interactive-hover);
      }
    }

    /* add old discord text logo */
    > .c38106a3f0c3ca76-title {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='55' height='16' viewBox='0 0 55 16'%3E%3Cg fill='rgb(148,155,164)'%3E%3Cpath d='M3 4.78717H6.89554C7.83025 4.78717 8.62749 4.93379 9.27812 5.22703C9.92875 5.52027 10.4144 5.92348 10.7352 6.44582C11.0559 6.96815 11.2208 7.5638 11.2208 8.24192C11.2208 8.90171 11.0559 9.49736 10.7168 10.038C10.3778 10.5695 9.8646 11.0002 9.17732 11.3118C8.49003 11.6234 7.6378 11.7791 6.6197 11.7791H3V4.78717ZM6.57388 10.0014C7.2071 10.0014 7.69278 9.84559 8.03184 9.52485C8.3709 9.21328 8.54501 8.77343 8.54501 8.23276C8.54501 7.72875 8.38923 7.32555 8.08682 7.02314C7.78442 6.72073 7.32623 6.56495 6.71225 6.56495H5.49255V10.0014H6.57388Z'%3E%3C/path%3E%3Cpath d='M17.2882 11.7709C16.7475 11.6335 16.2618 11.4319 15.8311 11.1569V9.4983C16.161 9.75489 16.5917 9.95649 17.1416 10.1214C17.6914 10.2864 18.2229 10.3689 18.7361 10.3689C18.9743 10.3689 19.1576 10.3414 19.2767 10.2772C19.3959 10.2131 19.46 10.1398 19.46 10.0481C19.46 9.94733 19.4233 9.86485 19.3592 9.80071C19.2951 9.73656 19.1668 9.68158 18.9743 9.62659L17.7739 9.36084C17.0866 9.20506 16.6009 8.97596 16.3077 8.70105C16.0144 8.42613 15.877 8.05042 15.877 7.59223C15.877 7.20735 16.0053 6.86829 16.2527 6.58421C16.5093 6.30013 16.8667 6.0802 17.334 5.92442C17.8014 5.76863 18.342 5.68616 18.9743 5.68616C19.5333 5.68616 20.0465 5.74114 20.5138 5.86944C20.9812 5.98857 21.3661 6.14435 21.6685 6.32763V7.89464C21.3569 7.71136 20.9904 7.56474 20.5871 7.45477C20.1748 7.34481 19.7533 7.28982 19.3226 7.28982C18.6994 7.28982 18.3878 7.39979 18.3878 7.61056C18.3878 7.71136 18.4337 7.78467 18.5345 7.83966C18.6353 7.89464 18.8094 7.94046 19.066 7.99544L20.0648 8.17871C20.7155 8.28868 21.2011 8.49028 21.5219 8.77436C21.8426 9.05844 21.9984 9.47081 21.9984 10.0298C21.9984 10.6346 21.7326 11.1203 21.2011 11.4685C20.6696 11.8259 19.9182 12 18.9468 12C18.3787 11.9817 17.8289 11.9084 17.2882 11.7709Z'%3E%3C/path%3E%3Cpath d='M24.4735 11.5602C23.9054 11.2761 23.4655 10.9004 23.1814 10.4239C22.8882 9.94733 22.7507 9.40666 22.7507 8.80185C22.7507 8.20621 22.8974 7.66554 23.1998 7.19819C23.5022 6.72167 23.942 6.35512 24.5194 6.0802C25.0967 5.81445 25.7931 5.677 26.5995 5.677C27.5984 5.677 28.4231 5.88776 29.0829 6.3093V8.1329C28.8538 7.97712 28.5789 7.83965 28.2673 7.74802C27.9558 7.64721 27.6259 7.6014 27.2777 7.6014C26.6545 7.6014 26.178 7.71137 25.8206 7.94046C25.4724 8.16956 25.2983 8.46279 25.2983 8.82934C25.2983 9.18673 25.4632 9.47998 25.8115 9.70907C26.1505 9.93817 26.6453 10.0573 27.2868 10.0573C27.6167 10.0573 27.9466 10.0115 28.2673 9.91067C28.5881 9.80987 28.8722 9.69991 29.1013 9.55329V11.3219C28.3681 11.7618 27.5159 11.9817 26.5537 11.9817C25.7381 11.9817 25.0509 11.8351 24.4735 11.5602Z'%3E%3C/path%3E%3Cpath d='M31.6955 11.5602C31.1182 11.2761 30.6783 10.9004 30.3759 10.4147C30.0735 9.929 29.9177 9.38834 29.9177 8.78353C29.9177 8.18788 30.0735 7.64722 30.3759 7.17986C30.6783 6.71251 31.1182 6.34595 31.6863 6.0802C32.2545 5.81445 32.9418 5.677 33.7299 5.677C34.518 5.677 35.2053 5.80529 35.7743 6.0802C36.3425 6.34595 36.7824 6.71251 37.0848 7.17986C37.3872 7.64722 37.5338 8.17872 37.5338 8.78353C37.5338 9.37918 37.3872 9.929 37.0848 10.4147C36.7824 10.9004 36.3517 11.2852 35.7743 11.5602C35.1961 11.8351 34.518 11.9817 33.7299 11.9817C32.951 11.9817 32.2728 11.8351 31.6955 11.5602ZM34.7287 9.79155C34.967 9.55329 35.0953 9.22339 35.0953 8.82934C35.0953 8.42614 34.9762 8.11457 34.7287 7.87632C34.4813 7.63806 34.1514 7.51892 33.7391 7.51892C33.3084 7.51892 32.9785 7.63806 32.731 7.87632C32.4928 8.11457 32.3645 8.42614 32.3645 8.82934C32.3645 9.23255 32.4836 9.55329 32.731 9.79155C32.9785 10.039 33.3084 10.1581 33.7391 10.1581C34.1514 10.1489 34.4905 10.0298 34.7287 9.79155Z'%3E%3C/path%3E%3Cpath d='M43.6644 6.0435V8.19699C43.4078 8.03204 43.0779 7.94956 42.6747 7.94956C42.1432 7.94956 41.7308 8.11451 41.4467 8.43524C41.1626 8.75598 41.016 9.25999 41.016 9.93811V11.7709H38.5693V5.9427H40.9702V7.80295C41.0985 7.12482 41.3184 6.62082 41.6117 6.30008C41.9049 5.97935 42.2898 5.80524 42.7572 5.80524C43.1054 5.80524 43.4078 5.88771 43.6644 6.0435Z'%3E%3C/path%3E%3Cpath d='M51.9136 4.58649V11.7801H49.4659V10.4696C49.2552 10.9645 48.9436 11.3402 48.5221 11.5968C48.1005 11.8534 47.5782 11.9817 46.9551 11.9817C46.4052 11.9817 45.9195 11.8442 45.5072 11.5785C45.0948 11.3127 44.7741 10.937 44.5542 10.4696C44.3342 9.99313 44.2242 9.46163 44.2242 8.87514C44.2151 8.26117 44.3342 7.71134 44.5816 7.22566C44.8199 6.73998 45.1681 6.36426 45.608 6.08935C46.0479 5.81444 46.5519 5.67698 47.12 5.67698C48.2838 5.67698 49.0627 6.18099 49.4659 7.19817V4.58649H51.9136ZM49.0994 9.7457C49.3468 9.50744 49.4751 9.18671 49.4751 8.80183C49.4751 8.42612 49.356 8.12371 49.1086 7.89462C48.8611 7.66552 48.5312 7.5464 48.1189 7.5464C47.7065 7.5464 47.3766 7.66553 47.1292 7.90378C46.8818 8.14204 46.7626 8.44444 46.7626 8.82932C46.7626 9.2142 46.8818 9.51661 47.1292 9.75487C47.3766 9.99313 47.6973 10.1123 48.1097 10.1123C48.5221 10.1123 48.852 9.99313 49.0994 9.7457Z'%3E%3C/path%3E%3Cpath d='M13.4751 6.29095C14.1789 6.29095 14.7489 5.77778 14.7489 5.14547C14.7489 4.51317 14.1789 4 13.4751 4C12.7723 4 12.2014 4.51317 12.2014 5.14547C12.2014 5.77778 12.7723 6.29095 13.4751 6.29095Z'%3E%3C/path%3E%3Cpath d='M14.7489 7.07812C13.97 7.41719 12.9986 7.42635 12.2014 7.07812V11.7792H14.7489V7.07812Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position-y: center;
      left: calc(var(--space-sm) - 3px);
      top: 1px;

      /* remove redundant server name/icon */
      > .edbb22df99c39831-title {
        display: none;
      }
    }

    > .c38106a3f0c3ca76-trailing {
      z-index: 102;   /* TO BE CHANGED */

      /* inbox */
      > .c99c29809d200a61-clickable {
        position: absolute;
        top: calc(
          var(--custom-app-notice-bar-height) + var(--custom-app-top-bar-height) +
            var(--space-12)
        );
        right: calc(32px + var(--space-xs) * 2);
      }

      /* help */
      > .edefb8e22d63c542-anchor {
        position: absolute;
        top: calc(
          var(--custom-app-notice-bar-height) + var(--custom-app-top-bar-height) +
            var(--space-8)
        );
        right: calc(var(--space-xs) + 4px);

        svg {
          height: 22px;
          width: 22px;
        }
      }

      /* update */
      > ._85643a485899904b-button {
        position: absolute;
        top: calc(
          var(--custom-app-notice-bar-height) + var(--custom-app-top-bar-height) +
            var(--space-8)
        );
        right: calc(32px * 2 + var(--space-xs) * 3 + 4px);
      }
    }
  }

  /* search context menu (top search bar active) */
  ._55c999adcf6db265-container {
    background-color: var(--background-floating);
    border: 1px solid var(--background-accent);
    border-radius: var(--radius-xs);
  }

  /* only if update exists, move toolbar, there should be a better way to do this i think */
  ._5e434347c823b592-base:has(.c38106a3f0c3ca76-bar > .c38106a3f0c3ca76-trailing > ._85643a485899904b-button)
    ._9293f6b2fc12398a-toolbar {
    margin-right: calc(32px * 3 + var(--space-xs) * 3 + 4px);
  }

  /* placement of elements on left sidebar (servers/channels/panels) */
  ._5e434347c823b592-sidebar {
    display: grid;
    grid-template-areas:
      "guilds notice"
      "guilds sidebar"
      "guilds panels";

    &._5e434347c823b592-hidden {
      display: none;
    }

    > ._5e434347c823b592-guilds {
      grid-area: guilds;
      margin-bottom: 0;
    }

    > ._5e434347c823b592-sidebarList {
      border-radius: 0;
      grid-area: sidebar;
      width: calc(
        var(--custom-guild-sidebar-width) - 24px
      ); /* default and minimum: 240px */
    }

    > ._5e434347c823b592-panels {
      grid-area: panels;
      width: 100%;
      left: 0;
      bottom: 0;
    }

    &:after {
      display: none;
    }
  }

  /* preview */
  .cf6da1923918f7e3-themeEditor,
  ._2a8914fa6869f3ad-editor {
    border-left: 0;
  }

  /***************************************************************** GENERAL **********************************************************************/
  /* code blocks */
  ._752971923a1e6683-markup code {
    border: 1px solid var(--background-tertiary);
  }

  ._13cf1aa56cd732d2-header {
    font-size: var(--size-12);
    text-transform: uppercase;
    line-height: unset;
  }

  ._623de82e76ad7f82-embedFull {
    background: var(--background-secondary);
    border-top: unset;
    border-bottom: unset;
    border-right: unset;
  }

  ._201d5e8a3c09670a-button {
    border-radius: 3px;
    border: none;
  }

  /* old color of channels */
  ._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon,
  ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-icon,
  ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon,
  ._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-icon {
    color: var(--channel-icon);
  }

  ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-iconWithGuildIcon,
  ._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-iconWithGuildIcon {
    color: var(--text-secondary);
  }

  ._2ea32c412048f708-modeConnected ._2ea32c412048f708-name,
  ._2ea32c412048f708-modeConnected:hover ._2ea32c412048f708-name,
  ._2ea32c412048f708-modeSelected ._2ea32c412048f708-name,
  ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-name,
  ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name,
  ._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-name,
  ._2ea32c412048f708-notInteractive._2ea32c412048f708-modeConnected ._2ea32c412048f708-name,
  ._2ea32c412048f708-notInteractive._2ea32c412048f708-modeSelected ._2ea32c412048f708-name {
    color: var(--interactive-active);
    font-weight: var(--font-weight-semibold-1x-light-theme, 500);
  }

  /* reactions on messages */
  ._23977d5b7cef7361-reaction,
  ._23977d5b7cef7361-reactionBtn {
    background: var(--background-secondary);
  }

  ._23977d5b7cef7361-reactionMe {
    background-color: var(--message-reacted-background);
  }

  ._24af7f4d0326ba4f-icon {
    height: 24px;
    width: 24px;
  }

  /* minimise, maximise, close buttons */
  .c38106a3f0c3ca76-winButtons {
    gap: unset;
  }

  .c38106a3f0c3ca76-winButtonsWithDivider::before {
    display: none;
  }

  .c38106a3f0c3ca76-winButton {
    width: 28px;
  }

  /***************************************************************** SERVERS **********************************************************************/
  ._5e434347c823b592-guilds .dbd2630aec71879b-stack {
    ._1f388bcaa446c0c8-tutorialContainer {
      padding-top: 4px;
    }

    #guild-list-unread-dms > div {
      height: var(--guildbar-avatar-size) !important;
    }

    ._252b6afd49fda06f-guildSeparator {
      height: 2px;
      background-color: var(--background-modifier-accent);
    }

    /* probably should be a better way to do this */
    .cc5dd25190031396-wrapper:not(._48112cbe77dc5022-folderGroup .cc5dd25190031396-wrapper),
    ._48112cbe77dc5022-folderGuildsList .cc5dd25190031396-wrapper {
      width: var(--guildbar-avatar-size) !important;
      height: var(--guildbar-avatar-size) !important;

      > svg {
        inset: auto;
        contain: none;

        > foreignObject {
          mask: none;
          overflow: visible;
          x: -4;
          y: -4;

          ._6e9f8dce4cc18de3-wrapper {
            border-radius: 24px;
            overflow: hidden;
            transition: border-radius 0.2s ease;

            ._6e9f8dce4cc18de3-childWrapper {
              background: var(--background-primary);
            }

            &._6e9f8dce4cc18de3-selected {
              border-radius: 16px;
              
              ._6e9f8dce4cc18de3-childWrapper {
                background: var(--brand-500);
                color: var(--white-500);
              }
            }
          }

          > ._5bc7ed9d4097f6b5-circleIconButton {
            border-radius: 24px;
            overflow: hidden;
            color: var(--green-360);
            background: var(--background-primary);

            &._5bc7ed9d4097f6b5-selected {
              border-radius: 16px;
              color: var(--white-500);
              background: var(--green-360);
            }
          }
        }
      }
    }

    /* folders */
    &._48112cbe77dc5022-folderGuildsList {
      height: fit-content !important;
    }

    ._48112cbe77dc5022-folderGroup {
      --custom-folder-preview-padding: var(--space-6);
      --custom-folder-preview-gap: var(--space-4);
      --custom-folder-color: #5865f2; /* might not be accurate */

      ._48112cbe77dc5022-folderHeader,
      ._48112cbe77dc5022-folderHeader > ._48112cbe77dc5022-folderButton {
        border-radius: var(--radius-lg);
        overflow: visible;
      }

      ._48112cbe77dc5022-folderIcon > svg {
        width: 24px;
        height: 24px;
      }

      ._48112cbe77dc5022-folderPreview {
        gap: var(--custom-folder-preview-gap);

        > ._48112cbe77dc5022-folderPreviewGuildIcon {
          border-radius: var(--radius-round);
        }
      }

      ._48112cbe77dc5022-folderGroupBackground {
        background: var(--background-secondary);
        border: none;
      }
    }

    /* ping/voice icons */
    .badgeStroke_cc5dd2 {
      display: none;
    }

    .cc5dd25190031396-lowerBadge,
    .cc5dd25190031396-upperBadge {
      border: 4px solid;
      border-radius: var(--radius-round);
      margin-right: -4px;
      margin-top: -4px;
      margin-bottom: -4px;
    }
  }

  /***************************************************************** CHANNELS/DMS *****************************************************************/
  ._5e434347c823b592-sidebarList {
    border: 0;

    .f37cb1984c371ee5-hasBanner {
      .f37cb1984c371ee5-header {
        box-shadow: unset;
      }

      .f37cb1984c371ee5-headerGlass {
        border: none;
        box-shadow: var(--shadow-ledge);
        width: 100%;
      }

      .f37cb1984c371ee5-bannerImage,
      .f37cb1984c371ee5-bannerImg {
        width: 100%;
      }
    }

    .f37cb1984c371ee5-header,
    .f37cb1984c371ee5-header:hover,
    .searchBar__35e86 {
      border: none;
      box-shadow: var(--shadow-ledge);
    }

    .searchBar__35e86 > button {
      justify-content: flex-start;
      padding-left: 6px;
      background-color: var(
        --bg-overlay-selected,
        var(--background-mod-normal)
      );
      height: calc(var(--custom-button-button-sm-height) - 4px);
      min-height: unset;
      color: var(--text-normal);

      ._201d5e8a3c09670a-contents {
        margin: 0;
      }
    }

    ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) svg {
      width: 24px;
      height: 24px;
    }

    ._629e4c86564a4ee7-scroller,
    ._99e7cad8d4c55236-scroller {
      margin-right: 0;

      ._99f8cc7ad4790ce9-content {
        ._29444ba32c7fbeab-wrapperCommon {
          padding-left: var(--space-xxs);

          ._29444ba32c7fbeab-mainContent {
            flex-direction: row-reverse;
            flex: none;
          }
        }

        .e45859d60799ad7c-container,
        ._972a0d22c8afa7f0-channel,
        ._2ea32c412048f708-link,
        ._972a0d22c8afa7f0-link {
          border-radius: var(--radius-xs);
        }
      }
    }

    ._99e7cad8d4c55236-scroller {
      margin-bottom: unset;
    }
  }

  /* edit server roles incorrect background color */
  ._23e6b439306f125a-customContainer, /* background color for server members and audit log */
  .titleContainer_e29cd7,
  .header_c6bf1b {
    background-color: var(--background-base-low);
  }

  /***************************************************************** CONTEXT *********************************************************************/
  .c1e9c47c23f12ca3-menu {
    background-color: var(--background-floating);
    border-radius: 4px 4px 0 0;

    .f563df886a7377be-button {
      /*reaction buttons */
      border-radius: var(--radius-round);
      background-color: var(--bg-base-tertiary);
    }

    .f563df886a7377be-focused {
      background-color: var(--bg-base-secondary);
    }

    .c1e9c47c23f12ca3-label {
      color: var(--text-muted-on-default);
    }

    .c1e9c47c23f12ca3-focused {
      background-color: var(--bg-brand);
      border-radius: 2px;

      .c1e9c47c23f12ca3-label {
        color: white;
      }
    }

    .c1e9c47c23f12ca3-colorDanger {
      /* red icons */
      color: var(--info-danger-foreground);
    }

    #guild-context-invite-people,
    #channel-context-invite-people {
      .c1e9c47c23f12ca3-label {
        color: var(--text-brand);
      }
    }

    .c1e9c47c23f12ca3-focused#guild-context-invite-people,
    .c1e9c47c23f12ca3-focused#channel-context-invite-people {
      .c1e9c47c23f12ca3-label {
        color: white;
      }
    }

    #message-delete,
    #message-report,
    #user-context-kick,
    #user-context-ban,
    #user-context-timeout,
    #user-context-block,
    #channel-context-delete-channel,
    #guild-context-leave-guild {
      .c1e9c47c23f12ca3-label {
        color: var(--info-danger-foreground);
      }
    }

    .c1e9c47c23f12ca3-focused#user-context-timeout,
    .c1e9c47c23f12ca3-focused#user-context-kick,
    .c1e9c47c23f12ca3-focused#user-context-ban,
    .c1e9c47c23f12ca3-focused#user-context-block,
    .c1e9c47c23f12ca3-focused#message-delete,
    .c1e9c47c23f12ca3-focused#message-report,
    .c1e9c47c23f12ca3-focused#channel-context-delete-channel,
    .c1e9c47c23f12ca3-focused#guild-context-leave-guild {
      background-color: var(--info-danger-foreground);
      border-radius: 2px;

      .c1e9c47c23f12ca3-label {
        color: white;
      }
    }

    .checkbox_f525d3 {
      border-radius: 2px;
      border-width: 2px;
      margin: 2px auto;
      width: 16px !important;
      height: 16px !important;
    }
  }

  /* fix icon badge position and size for notifications */
  ._9293f6b2fc12398a-iconWrapper:has(> ._9293f6b2fc12398a-iconBadge) {
    svg._2338f50c3988e5ec-svg {
      height: 24px;
      width: 24px;
      overflow: visible;

      svg._9293f6b2fc12398a-icon {
        width: 20px;
        height: 20px;
      }
    }

    ._9293f6b2fc12398a-iconBadge {
      height: 9px;
      width: 9px;
    }

    ._9293f6b2fc12398a-iconBadgeBottom {
      --custom-icon-offset: calc((var(--chat-input-icon-size) - 15px) / 2)
    }
  }

  /***************************************************************** CHAT *************************************************************************/
  /* chat/forum post/friends/library/nitro/shop */
  .f75fb00fb7356cbe-chat,
  ._01ae244280823725-container,
  ._133bf5eea8e33a34-container,
  .ad5cdf4c3a4bde59-container,
  ._0920e02cc8fc7b7b-homeWrapper,
  .shop__6db1d {
    border: none !important;

    .f75fb00fb7356cbe-title,
    ._9293f6b2fc12398a-container {
      border: none;
      box-shadow: var(--shadow-ledge);

      ._9293f6b2fc12398a-toolbar {
        margin-right: calc(32px * 2 + var(--space-xs) * 2 + 4px);

        ._133bf5eea8e33a34-inviteToolbar,
        ._3fb48a36faa8fdf6-libraryFilter {
          padding-right: 0;
          margin-right: var(--spacing-4);

          &._133bf5eea8e33a34-inviteToolbar {
            position: relative;
            padding-right: 12px;

            &::after {
              content: "";
              position: absolute;
              top: var(--space-4);
              right: 0;
              width: 1px;
              height: var(--space-24);
              background-color: var(--border-subtle);
            }
          }
        }

        ._974928fe84ca9647-searchBar {
          height: 26px;
          width: 144px;
          padding: 0 2px;
          border-radius: var(--radius-xs);
          border: none;
          background: var(--bg-overlay-3, var(--background-tertiary));

          .DraftEditor-root {
            padding: 0;
          }

          .bd818628221af7aa-searchFilter {
            height: auto;
            border-radius: 2px 0 0 2px;
            padding: 0 2px;
          }
          .bd818628221af7aa-searchAnswer {
            height: auto;
            border-radius: 0 2px 2px 0;
            padding: 0 2px;
          }
        }

        ._974928fe84ca9647-open,
        ._974928fe84ca9647-focused {
          ._974928fe84ca9647-searchBar {
            width: 281px;
          }
        }
      }
    }

    /* top bar on full friends list page, title area in servers etc */
    ._9293f6b2fc12398a-upperContainer {
      ._9293f6b2fc12398a-children:has(._9293f6b2fc12398a-dot) {
        /* remove the dot on the friend's list top bar */
        ._9293f6b2fc12398a-dot {
          display: none;
        }

        ._9293f6b2fc12398a-titleWrapper {
          position: relative;
          padding-right: 12px;

          &::after {
            content: "";
            position: absolute;
            top: -2px;
            right: 0;
            width: 1px;
            height: var(--space-24);
            background-color: var(--border-subtle);
          }
        }

        ._133bf5eea8e33a34-tabBar {
          display: flex;
          align-items: center;

          ._133bf5eea8e33a34-item {
            min-height: 24px;
            height: 24px;
            padding: 2px 8px;
          }
        }
      }
    }

    /* forum post open on sidebar */
    &.f75fb00fb7356cbe-threadSidebarOpen {
      ._9293f6b2fc12398a-toolbar {
        margin-right: 0;
      }
    }

    .f75fb00fb7356cbe-chatContent {
      > ._36d072eab2b2e737-messagesWrapper {
        ._0f481cbbd7530492-barButtonAlt {
          background-color: var(--transparent);
          &:hover {
            background-color: var(--transparent);
          }
        }

        > ._0f481cbbd7530492-barBase {
          border: none;
          left: var(--space-md);
          right: var(--space-md);
        }

        > ._0f481cbbd7530492-newMessagesBar {
          padding-left: var(--space-sm);
          padding-right: var(--space-sm);
        }

        :is(.c19a557985eb7793-timestampInline) time[aria-label^="Today at"] {
          visibility: hidden;
          font-size: 0;
        }

        :is(.c19a557985eb7793-timestampInline) time[aria-label^="Today at"]:before {
          content: attr(aria-label);
          visibility: visible;
          font-size: 0.75rem !important;
        }

        ._36d072eab2b2e737-scrollerSpacer {
          height: var(--discord-2024-custom-scroller-spacer-height, 30px);
        }
      }

      > .f75fb00fb7356cbe-form {
        padding-left: var(--space-md);
        padding-right: var(--space-md);

        > .b8880176888cc928-inTextChannel {
          top: unset;
          bottom: 0;
        }

        .f75fb00fb7356cbe-channelTextArea {
          margin-bottom: var(--space-xl);
        }

        ._740174f3d6a2c8fe-channelTextArea {
          border: none;

          .ec4baf0360ff3578-slateTextArea {
            margin-left: 0;
          }

          ._0923f156a0410684-attachWrapper {
            padding: var(--space-6) calc(var(--space-md) - 6px);

            ._0923f156a0410684-attachButton {
              margin-right: 0;

              svg {
                height: var(--chat-input-icon-size);
                width: var(--chat-input-icon-size);
              }
            }
          }

          ._5eb9b3cc7c2b1ce8-lottieIcon {
            height: 24px !important;
            width: 24px !important;
          }

          ._04eede68d145ae81-spriteContainer {
            --custom-emoji-sprite-size: 22px !important;
          }

          .channelAppLauncher_e6e74f ._5eb9b3cc7c2b1ce8-lottieIcon {
            height: 27px !important;
            width: 27px !important;
            margin-top: -1px;
          }
        }

        > .b8880176888cc928-base {
          color: var(--text-normal, var(--text-secondary));
          padding-left: var(--space-xs);
          font-size: 14px;
        }
      }
    }

    /* search results container */
    .a9e7064fdee8e9b0-searchResultsWrap {
      .item_b3f026,
      .side_b3f026 {
        line-height: 20px;
      }
    }

    .c8ffbb79449f399c-container {
      border: none;

      .c8ffbb79449f399c-membersGroup {
        padding-top: calc(var(--space-xl) + 2px); /* don't ask me why xd */
        padding-bottom: 2px;
      }

      ._91a9d7f7e5248a56-container {
        border-radius: var(--radius-xs);
        margin-right: 8px;

        ._91a9d7f7e5248a56-childContainer {
          padding: 0;
        }

        ._5d473ecff348c314-memberInner {
          height: 44px;
        }
      }
    }

    /* hover menu/quick menu */
    .popoverReactionHoverBar_f84418 {
      background-color: var(
        --background-secondary,
        var(--background-nested-floating)
      );
    }
  }

  ._752971923a1e6683-markup blockquote {
    color: var(--text-primary);
  }

  /* viewing old messages bottom bar */
  ._0f481cbbd7530492-bottomBar {
    background-color: color-mix(
      in srgb,
      var(--background-accent) 98%,
      transparent
    );
    border: none;
    min-height: 24px;
    min-width: unset;
    width: auto;
    box-shadow: var(--shadow-ledge);
    border-radius: 8px 8px 0 0;
    bottom: var(--space-sm);
    margin: 0;

    ._201d5e8a3c09670a-button {
      background-color: inherit;
      color: inherit;
      padding: 0;

      &::after {
        content: "";
        display: inline-block;
        margin-left: var(--space-8);
        margin-bottom: var(--space-4);
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M5.3 9.3a1 1 0 011.4 0l5.3 5.29 5.3-5.3a1 1 0 111.4 1.42l-6 6a1 1 0 01-1.4 0l-6-6a1 1 0 010-1.42z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  /* gif, stickers and emoji menus */
  ._084343c4f11eaaab-contentWrapper {
    background-color: var(--background-secondary);

    .fed6d32841cc2da2-header,
    ._8ef02eea17068b73-header,
    .c0e32c5cffed3d9f-header {
      background-color: var(--background-secondary);
      border-bottom: 1px solid var(--bg-surface-overlay);
      border-radius: 0;
    }

    .c656aca9a3db31a9-listWrapper {
      background-color: var(--background-secondary);
    }

    ._14245bb948377a25-wrapper {
      background-color: inherit;
    }

    ._4e6cebf8beed1ad8-wrapper {
      background-color: var(--background-secondary-alt);
    }

    .c0e32c5cffed3d9f-categoryList,
    ._3ad28b0867fa3fad-categoryList {
      top: 45px;
    }

    .searchBar_fed6d3,
    .medium_a45028 {
      border: none;
      border-radius: 4px;
      height: 32px;
      align-items: center;
    }

    .aeaaeb2a573807f0-inspector {
      background-color: var(--background-secondary-alt);
    }
  }

  /* pinned messages */
  .messagesPopoutWrap__45690 {
    ._752971923a1e6683-markup code {
      background-color: var(--background-secondary);
    }
  }

  /* mp3 messages */
  .cf09d85aafe7e124-wrapperAudio {
    background-color: var(--background-base-lowest);
    border-color: var(--bg-base-tertiary);
    /* border-radius: var(--radius-xs); unsure if this is needed */
  }

  /* dm call controls */
  .bfe55a0aaaf62375-bottomControls {
    border: none;

    ._201d5e8a3c09670a-button {
      border: none;
      border-radius: 50%;
      background-color: var(--background-secondary-alt);
      width: 56px;
      height: 56px;
      margin-bottom: -5px;
    }

    .f1ceaca61b18918e-disconnect {
      background-color: var(--info-danger-foreground);
    }

    ._1405b3b8e8eb5fd0-buttonSection {
      background: transparent;
      padding: 0;
      gap: 12px;

      .f1ceaca61b18918e-attachedCaretButtonContainer {
        width: 56px;

        .f1ceaca61b18918e-controlIcon {
          width: 26px;
          height: 26px;
        }

        .contextMenuNubExperiment_f1ceac.f1ceaca61b18918e-attachedCaret {
          position: relative;
          height: 20px;
          width: 20px;
          padding: 0;
          border: 4px solid var(--black);
          border-radius: 50%;
          background-color: var(--background-secondary-alt);
          right: 24px;
          bottom: -21px;
        }

        .f1ceaca61b18918e-colorable.f1ceaca61b18918e-redGlow {
          background-color: var(--background-secondary-alt);
          color: inherit;
        }
      }
    }
  }

  /***************************************************************** PANELS ***********************************************************************/
  ._5e434347c823b592-panels {
    background-color: var(--background-secondary-alt);
    border: none;
    border-radius: var(--radius-none);

    /* activity panel */
    > ._5e434347c823b592-activityPanel {
      background: unset;
      padding: var(--space-xxs) var(--space-xs);
      border-radius: var(--radius-none);
      border-bottom: 1px solid var(--background-modifier-accent);

      .b6c092614b8d59f3-title {
        color: var(--header-secondary);
      }
    }

    /* voice connected panel */
    .e131a99484292a19-container {
      padding: var(--space-xs);
      margin: 0;
      border-bottom: 1px solid var(--background-modifier-accent);

      > .e131a99484292a19-actionButtons .e131a99484292a19-button.e131a99484292a19-buttonColor {
        background-color: var(--background-primary);
        color: var(--interactive-active);
        border-radius: 3px;
        border: 0;
      }

      ._06d6249a1f2584ac-rtcConnectionStatusWrapper {
        gap: 2px;

        > ._06d6249a1f2584ac-rtcConnectionStatus ._06d6249a1f2584ac-rtcConnectionStatusConnected {
          color: var(--text-positive);
        }

        > ._06d6249a1f2584ac-rtcConnectionStatus .text-md\/medium_cf4812 {
          font-size: 14px;
          line-height: inherit;
          font-weight: inherit;
        }

        > a .text-sm\/medium_cf4812 {
          font-size: 12px;
          line-height: inherit;
        }
      }

      .e131a99484292a19-voiceButtonsContainer {
        gap: unset;

        button._67645e1530f1195d-button {
          margin: 0;
        }
      }
    }

    /* user panel */
    > ._37e49614b9f110a9-container {
      height: 52px;
      padding: 0 8px 1px;
      margin: 0;
      gap: unset;
      box-sizing: unset;

      > ._37e49614b9f110a9-avatarWrapper {
        margin-right: var(--space-xs);
        padding: var(--space-4);
        border-radius: var(--radius-xs);

        > ._44b0c28be7879b7b-wrapper._37e49614b9f110a9-avatar {
          width: 32px !important;
          height: 32px !important;

          > svg._44b0c28be7879b7b-mask {
            width: 39px;
            height: 39px;
          }

          > svg._44b0c28be7879b7b-avatarDecoration {
            height: 38px;
            width: 47px;
          }
        }
      }

      > ._37e49614b9f110a9-buttons {
        gap: unset;

        button._67645e1530f1195d-button._67645e1530f1195d-redGlow,
        span._67645e1530f1195d-button._67645e1530f1195d-redGlow {
          background-color: transparent;
        }
        button._67645e1530f1195d-button._67645e1530f1195d-enabled:hover,
        span._67645e1530f1195d-button._67645e1530f1195d-enabled:hover {
          background-color: var(--background-modifier-selected);
        }
        button._67645e1530f1195d-button._67645e1530f1195d-enabled._67645e1530f1195d-redGlow:hover,
        span._67645e1530f1195d-button._67645e1530f1195d-enabled._67645e1530f1195d-redGlow:hover {
          background-color: hsl(var(--red-400-hsl) / 0.2);
        }
      }
    }
  }

  /***************************************************************** SETTINGS *********************************************************************/

  .c38106a3f0c3ca76-systemBar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='55' height='16' viewBox='0 0 55 16'%3E%3Cg fill='rgb(148,155,164)'%3E%3Cpath d='M3 4.78717H6.89554C7.83025 4.78717 8.62749 4.93379 9.27812 5.22703C9.92875 5.52027 10.4144 5.92348 10.7352 6.44582C11.0559 6.96815 11.2208 7.5638 11.2208 8.24192C11.2208 8.90171 11.0559 9.49736 10.7168 10.038C10.3778 10.5695 9.8646 11.0002 9.17732 11.3118C8.49003 11.6234 7.6378 11.7791 6.6197 11.7791H3V4.78717ZM6.57388 10.0014C7.2071 10.0014 7.69278 9.84559 8.03184 9.52485C8.3709 9.21328 8.54501 8.77343 8.54501 8.23276C8.54501 7.72875 8.38923 7.32555 8.08682 7.02314C7.78442 6.72073 7.32623 6.56495 6.71225 6.56495H5.49255V10.0014H6.57388Z'%3E%3C/path%3E%3Cpath d='M17.2882 11.7709C16.7475 11.6335 16.2618 11.4319 15.8311 11.1569V9.4983C16.161 9.75489 16.5917 9.95649 17.1416 10.1214C17.6914 10.2864 18.2229 10.3689 18.7361 10.3689C18.9743 10.3689 19.1576 10.3414 19.2767 10.2772C19.3959 10.2131 19.46 10.1398 19.46 10.0481C19.46 9.94733 19.4233 9.86485 19.3592 9.80071C19.2951 9.73656 19.1668 9.68158 18.9743 9.62659L17.7739 9.36084C17.0866 9.20506 16.6009 8.97596 16.3077 8.70105C16.0144 8.42613 15.877 8.05042 15.877 7.59223C15.877 7.20735 16.0053 6.86829 16.2527 6.58421C16.5093 6.30013 16.8667 6.0802 17.334 5.92442C17.8014 5.76863 18.342 5.68616 18.9743 5.68616C19.5333 5.68616 20.0465 5.74114 20.5138 5.86944C20.9812 5.98857 21.3661 6.14435 21.6685 6.32763V7.89464C21.3569 7.71136 20.9904 7.56474 20.5871 7.45477C20.1748 7.34481 19.7533 7.28982 19.3226 7.28982C18.6994 7.28982 18.3878 7.39979 18.3878 7.61056C18.3878 7.71136 18.4337 7.78467 18.5345 7.83966C18.6353 7.89464 18.8094 7.94046 19.066 7.99544L20.0648 8.17871C20.7155 8.28868 21.2011 8.49028 21.5219 8.77436C21.8426 9.05844 21.9984 9.47081 21.9984 10.0298C21.9984 10.6346 21.7326 11.1203 21.2011 11.4685C20.6696 11.8259 19.9182 12 18.9468 12C18.3787 11.9817 17.8289 11.9084 17.2882 11.7709Z'%3E%3C/path%3E%3Cpath d='M24.4735 11.5602C23.9054 11.2761 23.4655 10.9004 23.1814 10.4239C22.8882 9.94733 22.7507 9.40666 22.7507 8.80185C22.7507 8.20621 22.8974 7.66554 23.1998 7.19819C23.5022 6.72167 23.942 6.35512 24.5194 6.0802C25.0967 5.81445 25.7931 5.677 26.5995 5.677C27.5984 5.677 28.4231 5.88776 29.0829 6.3093V8.1329C28.8538 7.97712 28.5789 7.83965 28.2673 7.74802C27.9558 7.64721 27.6259 7.6014 27.2777 7.6014C26.6545 7.6014 26.178 7.71137 25.8206 7.94046C25.4724 8.16956 25.2983 8.46279 25.2983 8.82934C25.2983 9.18673 25.4632 9.47998 25.8115 9.70907C26.1505 9.93817 26.6453 10.0573 27.2868 10.0573C27.6167 10.0573 27.9466 10.0115 28.2673 9.91067C28.5881 9.80987 28.8722 9.69991 29.1013 9.55329V11.3219C28.3681 11.7618 27.5159 11.9817 26.5537 11.9817C25.7381 11.9817 25.0509 11.8351 24.4735 11.5602Z'%3E%3C/path%3E%3Cpath d='M31.6955 11.5602C31.1182 11.2761 30.6783 10.9004 30.3759 10.4147C30.0735 9.929 29.9177 9.38834 29.9177 8.78353C29.9177 8.18788 30.0735 7.64722 30.3759 7.17986C30.6783 6.71251 31.1182 6.34595 31.6863 6.0802C32.2545 5.81445 32.9418 5.677 33.7299 5.677C34.518 5.677 35.2053 5.80529 35.7743 6.0802C36.3425 6.34595 36.7824 6.71251 37.0848 7.17986C37.3872 7.64722 37.5338 8.17872 37.5338 8.78353C37.5338 9.37918 37.3872 9.929 37.0848 10.4147C36.7824 10.9004 36.3517 11.2852 35.7743 11.5602C35.1961 11.8351 34.518 11.9817 33.7299 11.9817C32.951 11.9817 32.2728 11.8351 31.6955 11.5602ZM34.7287 9.79155C34.967 9.55329 35.0953 9.22339 35.0953 8.82934C35.0953 8.42614 34.9762 8.11457 34.7287 7.87632C34.4813 7.63806 34.1514 7.51892 33.7391 7.51892C33.3084 7.51892 32.9785 7.63806 32.731 7.87632C32.4928 8.11457 32.3645 8.42614 32.3645 8.82934C32.3645 9.23255 32.4836 9.55329 32.731 9.79155C32.9785 10.039 33.3084 10.1581 33.7391 10.1581C34.1514 10.1489 34.4905 10.0298 34.7287 9.79155Z'%3E%3C/path%3E%3Cpath d='M43.6644 6.0435V8.19699C43.4078 8.03204 43.0779 7.94956 42.6747 7.94956C42.1432 7.94956 41.7308 8.11451 41.4467 8.43524C41.1626 8.75598 41.016 9.25999 41.016 9.93811V11.7709H38.5693V5.9427H40.9702V7.80295C41.0985 7.12482 41.3184 6.62082 41.6117 6.30008C41.9049 5.97935 42.2898 5.80524 42.7572 5.80524C43.1054 5.80524 43.4078 5.88771 43.6644 6.0435Z'%3E%3C/path%3E%3Cpath d='M51.9136 4.58649V11.7801H49.4659V10.4696C49.2552 10.9645 48.9436 11.3402 48.5221 11.5968C48.1005 11.8534 47.5782 11.9817 46.9551 11.9817C46.4052 11.9817 45.9195 11.8442 45.5072 11.5785C45.0948 11.3127 44.7741 10.937 44.5542 10.4696C44.3342 9.99313 44.2242 9.46163 44.2242 8.87514C44.2151 8.26117 44.3342 7.71134 44.5816 7.22566C44.8199 6.73998 45.1681 6.36426 45.608 6.08935C46.0479 5.81444 46.5519 5.67698 47.12 5.67698C48.2838 5.67698 49.0627 6.18099 49.4659 7.19817V4.58649H51.9136ZM49.0994 9.7457C49.3468 9.50744 49.4751 9.18671 49.4751 8.80183C49.4751 8.42612 49.356 8.12371 49.1086 7.89462C48.8611 7.66552 48.5312 7.5464 48.1189 7.5464C47.7065 7.5464 47.3766 7.66553 47.1292 7.90378C46.8818 8.14204 46.7626 8.44444 46.7626 8.82932C46.7626 9.2142 46.8818 9.51661 47.1292 9.75487C47.3766 9.99313 47.6973 10.1123 48.1097 10.1123C48.5221 10.1123 48.852 9.99313 49.0994 9.7457Z'%3E%3C/path%3E%3Cpath d='M13.4751 6.29095C14.1789 6.29095 14.7489 5.77778 14.7489 5.14547C14.7489 4.51317 14.1789 4 13.4751 4C12.7723 4 12.2014 4.51317 12.2014 5.14547C12.2014 5.77778 12.7723 6.29095 13.4751 6.29095Z'%3E%3C/path%3E%3Cpath d='M14.7489 7.07812C13.97 7.41719 12.9986 7.42635 12.2014 7.07812V11.7792H14.7489V7.07812Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-y: center;
    left: calc(var(--space-sm) - 3px);
  }

  &.platform-win ._23e6b439306f125a-sidebarRegionScroller,
  &.platform-win ._23e6b439306f125a-customContainer {
    margin-top: var(--custom-app-top-bar-height);
  }

  ._23e6b439306f125a-standardSidebarView,
  ._23e6b439306f125a-contentRegion {
    background: var(--background-tertiary);
  }

  /***************************************************************** PLUGIN FIXES *****************************************************************/

  /* BD GameActivityToggle supported v1.3.6 by DevilBro */
  .gameActivityToggleAdded_fd3fb5 .gameActivityToggleButton_fd3fb5 {
    margin-right: 0;
  }

  /* BD ServerFolders supported v7.4.2 by DevilBro */
  .folderContentIsOpen_ac0584 ._5e434347c823b592-base ._5e434347c823b592-sidebar {
    grid-template-areas:
      "guilds guildsFolderList notice"
      "guilds guildsFolderList sidebar"
      "guilds guildsFolderList panels";
  }

  .content_ac0584 {
    margin-top: 4px;

    &.closed_ac0584 {
      display: none;
    }

    .cc5dd25190031396-wrapper {
      width: var(--guildbar-avatar-size) !important;
      height: var(--guildbar-avatar-size) !important;

      > svg {
        inset: auto;
        contain: none;

        > foreignObject {
          mask: none;
          overflow: visible;
          x: -4;
          y: -4;

          ._6e9f8dce4cc18de3-wrapper {
            border-radius: 24px;
            overflow: hidden;
            transition: border-radius 0.2s ease;

            ._6e9f8dce4cc18de3-childWrapper {
              background: var(--background-primary);
            }

            &._6e9f8dce4cc18de3-selected {
              border-radius: 16px;

              ._6e9f8dce4cc18de3-childWrapper {
                background: var(--brand-500);
                color: var(--white-500);
              }
            }
          }
        }
      }
    }
  }

  /* Vencord BetterFolders by Juby210, AutumnVN and Nuckyz */
  .vc-betterFolders-sidebar-grid._5e434347c823b592-base ._5e434347c823b592-sidebar {
    grid-template-areas:
      "guilds betterFoldersSidebar notice"
      "guilds betterFoldersSidebar sidebar"
      "guilds betterFoldersSidebar panels";
  }

  .vc-betterFolders-sidebar .ef3116c2da186559-wrapper {
    margin-bottom: 0;

    ._48112cbe77dc5022-folderGuildsList > :first-child {
      margin-top: 4px;
    }
  }
}
